* {
  margin: 0;
  padding: 0;
}

body {
  background-color:rgb(232, 230, 230);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 /* margin: 2rem;*/
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

header {
  border: 1px solid rgb(119, 119, 119);
  background-color: rgb(19, 19, 19);
  margin-bottom: 0.3rem;
}
 img {
  margin: 0.3rem;
 }
nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 0.7rem;
  border: 1px solid black;
  margin: 0.2rem;
  background-color: rgb(19, 19, 19);
  width: 130px;
}

a {
  text-decoration: none;
  color:antiquewhite;

}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}


article {
  flex: 1;
  align-items: center;

}

article h1 {
  text-align: left;
}

#promotion {
  border: 1px solid #8C5F5A;;
  border-radius: 15px;
  background-image: url("../images/ring.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 3px #E6D6D6 ;
  height: 200px;
  margin: 3%;
  padding: 0.3rem;
  text-align: left;
  
}

article p {
  text-align: left;
  margin-left: 0.3rem;
  text-overflow: clip;
}
#content {
  margin: 3%;
  text-align: center;
}

#content article {
  border: 1px solid #8C5F5A;
  background-image:url("../images/article-bg.png") ;
  background-size: cover;
  box-shadow: 2px 3px #E6D6D6 ;
  border-radius: 10px;
  font-size: 0.9rem;
  height: 18rem;
  padding: 0.2rem;
}

#content h2 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

article img { 
  width: 150px;
  height: 150px;
  margin: 0.2rem;
  border: 1px solid #8C5F5A; 
  border-radius: 10px;
}
footer {
  display: flex;
  background-color: rgb(19, 19, 19);
  padding: 1rem;
}

footer div {
  flex: 1;
}

 footer p {
  color: white;
  font-size: 0.8rem;
  margin: 0.3rem;
 }

 button {
  margin: 0.4rem;
  padding: 0.5rem;
  color: white;
  font-weight: 600;
  border : 0px;
  box-shadow: 2px, 2px, #857673 ;
  background-image: linear-gradient(to bottom, #E6D6D6, #8A8281 ,#857673 , #484745 , #3F3C3B , #141313);
 }

 button:hover {
  padding: 0.7rem;
  font-weight: 800;
 }